
.container-fluid
{
    padding: 0% 2%;
}
.navbar
{
    padding-bottom: 1.5rem;
}
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight : bolder;
    color: white;
}
.nav-item
{
    padding: 0px 18px;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: white;
}
.main
{
   background-color: black;
}
.picture
{
    height: 100vh;
    background-image: url('mypic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;

}
.style_line_1 
{
    padding-top: 14%;
    padding-left: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 3.4rem;
    color:black;
    text-decoration: none;
}
.row
{
    height: 100vh;
    background-image: url('edback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    
}
.big-heading
{
    padding-left: 11%;
    padding-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:white;
    text-align: center;
}
.kkr
{
    padding-top: 15%;
    padding-left: 7%;
    text-align: center;
}
.big-heading_2
{
    padding-left: 3%;
    padding-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:white;
    text-align: center;
}
.iiit
{
    padding-top: 15%;
    padding-left:18%;
    text-align: center;
    
}
.skills
{
   background-color:#1A120B;
    
}
.head-skills
{
    color: bisque;
    text-align: center;
    font-family: 'Sacramento', cursive;
}
.hobbies
{
    height: 100vh;
    background-image: url('hob_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    
}
.hobby1
{
    line-height: 2;
    text-align: center;
}
.hobby2
{
    
    line-height: 2;
    text-align: center;
}
.hob
{
    padding-top: 8%;
    padding-left: 37%;
    line-height: 3;
    font-family: 'Courgette', cursive;
    color: #1A4D2E;
}
.hobby3
{
    line-height: 2;
    text-align: center;
}
.hobby4
{
    line-height: 2;
    text-align: center;
}
.hobby5
{
    line-height: 2;
    text-align: center;
}
.contact
{
    background-color:lightseagreen;
    text-align: center;
}
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background:lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .social-icons{
    margin-top: 30px;
 }
 .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover{
    color: #ff004f;
    transform: translate(-5px);
 }
 .end{
    margin-top: 40px;
    position: absolute;
    color: #ef0101;
    bottom: 35px;
    font-size: 20px;
 
 }
